
Game/obj/Debug/netcoreapp3.1/SnakeGame.assets.cache
Game/obj/Debug/netcoreapp3.1/SnakeGame.csproj.CoreCompileInputs.cache
Game/obj/Debug/netcoreapp3.1/SnakeGame.csproj.FileListAbsolute.txt
Game/obj/Debug/netcoreapp3.1/SnakeGame.dll
Game/obj/Debug/netcoreapp3.1/SnakeGame.GeneratedMSBuildEditorConfig.editorconfig
Game/obj/Debug/netcoreapp3.1/SnakeGame.genruntimeconfig.cache
Game/obj/Debug/netcoreapp3.1/SnakeGame.pdb
Game/obj/project.assets.json
Game/obj/project.nuget.cache
Game/obj/SnakeGame.csproj.nuget.dgspec.json
Game/obj/SnakeGame.csproj.nuget.g.props
*.testlog
*.manifest
*.dll
*.pdb
*.json
*.dll
